.main-title-item {
  margin: 10px 0;
}
.main-wrapp-page{
  flex-direction: column;
  justify-content: center;
  padding-top: 60px;
}
.main-lg-text, .main-lg-number, .pluse:after {
  font-size: 35px;
}
.green-text{
  font-size: 30px;
}