.green-text{
  font-size: 35px;
}
.main-lg-text{
  margin-bottom: 0;
  font-size: 40px;
}
.main-lg-number, .pluse:after{
  font-size: 40px;
}
.main-md-number{
  font-size: 15px;
}
.title-norm{
  font-size: 35px;
}
.question-subtitle{
  font-size: 18px;
}
.cont-us-input{
  margin: 5px 0;
}
.f-title{
  text-align: center;
  margin:10px 0 0 0;
}
.f-line{
  margin: 5px auto;
}
.bg-icon{
  margin: 10px 5px ;
}
.f-main-link{
  display: flex;
  justify-content: center;
}
.f-block{
  text-align: center;
}
.f-img{
  text-align: center;
  display: block;
  margin: 0 auto;
}