extends ../default.pug
block pageContent
    include ../templates/header.pug
    section#page-title.page-case(style='overflow: hidden; background-image: url(img/bg-case-img.jpg);')
        .page-case-bg
            .page-content
                p.page-case-title
                    | OpenBit Platform
                .page-case-line
                p.page-case-subtitle
                    | Маркетинговые решения, установленные для продвижения и популяризации криптовалютности FRSCoin.
                    br
                    | Ссылка на проект:
                    a.page-case-link(href='//openbit.io/', target='_blank')  openbit.io

    section.page-wrapp
        .container
            .page-case-wrapp
                .page-left-block
                    p.page-left-title Objective
                    p.page-left-subtitle
                        | Здравствуйте
                        br
                        br
                        |    Мы — команда преданных своему делу профессионалов с большим интересом к решению сложных веб-проблем среди этих пользовательских веб-разработок с полным стеком и комплексной веб-интеграции.
                        br
                        br
                        |   Наша основная задача — предоставить нашим клиентам оптимальное качество и уверенность в хорошо оптимизированных решениях.
                .page-right-block
                    .page-object
                        p.page-object-title Customer:
                        p.page-object-title Industry:
                        p.page-object-title Country:
                        p.page-object-title Period:
                    .page-object
                        p.page-object-name OpenBit Platform
                        p.page-object-name Cryptocurrency
                        p.page-object-name Ukraine
                        p.page-object-name 15/04/2017 -till present
                    .owl-carousel.page-object-icon
                        .page-icon
                            img.page-icon-img(src='/img/page-icon-1.png', alt='' )
                            a.page-case-icon(href='', target='_blank') Online Platform
                        .page-icon
                            img.page-icon-img(src='/img/page-icon-2.png', alt='' )
                            a.page-case-icon(href='', target='_blank') Social Networks
                        .page-icon
                            img.page-icon-img(src='/img/page-icon-3.jpg', alt='' )
                            a.page-case-icon(href='', target='_blank') Web Application
                        .page-icon
                            img.page-icon-img(src='/img/page-icon-4.png', alt='' )
                            a.page-case-icon(href='', target='_blank') Sport
                        .page-icon
                            img.page-icon-img(src='/img/page-icon-4.png', alt='' )
                            a.page-case-icon(href='', target='_blank') iOS
            .page-title-wrapp
                .page-title-grey решение
                p.page-decision Решение
            p.page-name OpenBit Platform
            p.page-subname
                | Это современная платформа для привлечения инвестиций с рынка криптовалюты, платформы для массового хостинга и системы умножения их сбережений.
                | Целевой аудиторией этой услуги являются крипто трейдеры, занимающиеся как спекулятивными сделками, так и ICO-инвестициями.
                | Тем не менее существуют благоприятные условия для людей, работающих с сетевым бизнесом, и желающих увеличить свой капитал, выпуская депозиты с благоприятным курсом,благодаря покупке горных мощностей от вкладов пользователей.

            .page-img
                img.page-shadow(src='../img/open.jpg', alt='' )
    section.page-gray
        .container
            .case-advantages
                .page-title-wrapp
                    .page-title-grey Преимущества
                    p.page-decision Преимущества
                .page-advantages-items
                    .row
                        .col-md-6
                            .page-item
                                span.page-figure
                                p.page-advantages-text Фондовая биржа
                                p.page-advantages-subtext
                                    | Мы создали специализированную биржу, чтобы люди могли торговать криптовалютами между собой.
                        .col-md-6
                            .page-item
                                span.page-figure
                                p.page-advantages-text Панель приборов SPA
                                p.page-advantages-subtext
                                    | Наш веб-интерфейс разработан специально для работы с низкой латентностью, поэтому наши пользователи не будут ждать ожидания загрузки страницы.
                        .col-md-6
                            .page-item
                                span.page-figure
                                p.page-advantages-text Панель приборов SPA
                                p.page-advantages-subtext
                                    | Наш веб-интерфейс разработан специально для работы с низкой латентностью, поэтому наши пользователи не будут ждать ожидания загрузки страницы.
                        .col-md-6
                            .page-item
                                span.page-figure
                                p.page-advantages-text Фондовая биржа
                                p.page-advantages-subtext
                                    | Мы создали специализированную биржу, чтобы люди могли торговать криптовалютами между собой.


    section.page-white
        .container
            .case-technologies
                .page-title-wrapp
                    .page-title-grey Технологии
                    p.page-decision Технологии
                .owl-carousel.brand-slide
                    .page-icon-tech
                        img.page-tech(src='/img/page-icon-1.png', alt='' )
                        a.page-tech-name(href='', target='_blank') Vue JS
                    .page-icon-tech
                        img.page-tech(src='/img/page-icon-1.png', alt='' )
                        a.page-tech-name(href='', target='_blank') Vue JS
                    .page-icon-tech
                        img.page-tech(src='/img/page-icon-1.png', alt='' )
                        a.page-tech-name(href='', target='_blank') Vue JS
                    .page-icon-tech
                        img.page-tech(src='/img/page-icon-1.png', alt='' )
                        a.page-tech-name(href='', target='_blank') Vue JS
                    .page-icon-tech
                        img.page-tech(src='/img/page-icon-1.png', alt='' )
                        a.page-tech-name(href='', target='_blank') Vue JS
                    .page-icon-tech
                        img.page-tech(src='/img/page-icon-1.png', alt='' )
                        a.page-tech-name(href='', target='_blank') Vue JS





    include ../templates/contact-page.pug
    include ../templates/footer.pug
