extends ../default.pug
block pageContent
    include ../templates/header.pug
    section.main-page
        .container
            canvas.spider
            .main-wrapp-page
                .main-left-text
                    p.main-lg-text
                        | contact us models
                        br
                        | of cooperation
                        br
                        | with
                        span  go
                        | friends
                    p.web-subtitle We believe in long-term, mutually-beneficial
                        br
                        |  between ourselves and our clients. In order to achieve this,
                        br
                        |  we offer individual, flexible models of cooperation that include,
                        br
                        |  in most cases, agile implementation methods.
    section.page-wrapp
        .container-fluid
            .main-content
                .coop-time
                    .coop-title
                        h2 time & materials
                    .coop
                        .coop-time-left
                            .coop-box
                                p
                                    | Time and Material (T&M) is our most common model of cooperation with our clients and fits medium- and large-sized projects or projects with changing or unknown requirements. This model is very effective for use with projects that require a high level of flexibility.
                            .coop-box-img
                                img.coop-img-item(src='img/time-1.jpg', alt='inveritasoft - Cooperation model: time & materials')
                        .coop-time-right
                            .coop-list-box
                                p.coop-time-title Advantages:
                                p.coop-time-text
                                    | Reduced Risk: Instead of paying for a project’s risks, you will only be charged for the time and resources spent on actual development.
                                p.coop-time-text
                                    | Simpler to Manage: You are able to manage, plan, and control work done based on your individual, changing budget.
                                p.coop-time-text
                                    | Increased Flexibility and Savings: You determine the workload, and therefore the costs, of the project for each project interval.
                .coop-time
                    .coop-title
                        h2 dedicated development
                            br
                            | team
                    .coop
                        .coop-time-left
                            .coop-box
                                p
                                    | Do you prefer to work and share your passion with individuals personally in a team rather than ordering a service from an outside development company? Do you have a software solution that is more of a marathon run than a short sprint, requiring constant updates and quick communication? inVeritaSoft’s dedicated teams are the closest thing to having your own, in-house development department.
                            .coop-box-img
                                img.coop-img-item(src='img/time-2.jpg', alt='inveritasoft - Cooperation model: time & materials')
                        .coop-time-right
                            .coop-list-box
                                p.coop-time-title Advantages:
                                p.coop-time-text
                                    | Closer Cooperation: This model allows you the highest amount of cooperation between you and the individual developers through Scrum, voice / video chat, and PM tools.
                                p.coop-time-text
                                    | Quicker Project Start: Your team at inVeritaSoft is a diverse group of highly skilled specialists that are ready to tackle whatever you throw at them.
                                p.coop-time-text
                                    | More Flexible Delivery: This allows you a great amount of flexibility, allowing you to organize daily, weekly, or even task-specific deliverables.
                                p.coop-time-text
                                    | More Transparency: Your team will report to you regularly, keeping you well informed about your project's current status.
                                p.coop-time-text
                                    | More Knowledge Retention: inVeritaSoft’s developers work as your personal development team, allowing you full access to all knowledge and data created and retained by your team.
                .coop-time
                    .coop-title
                        h2 fixed price
                    .coop
                        .coop-time-left
                            .coop-box
                                p
                                    | The Fixed Price model is the ideal option for small- and medium-sized projects that have a well-defined timeline and requirements. This model is both predictable and reliable, giving you the peace of mind that your budget, timeline, and delivery are set. We estimate your project’s scope, complexity, and resource requirements and then provide a quote and delivery schedule. This allows you to determine your budget in advance.
                            .coop-box-img
                                img.coop-img-item(src='img/time-3.jpg', alt='inveritasoft - Cooperation model: time & materials')
                        .coop-time-right
                            .coop-list-box
                                p.coop-time-title Advantages:
                                p.coop-time-text
                                    | Less Risk: This allows you the least amount of financial risk, allowing you to determine how much you can spend and how long you can wait for delivery before a single line of code is written.
                                p.coop-time-text
                                    | More Freedom: If you don’t want to be bothered with the day-to-day details of developing and coding and only want to focus on results, this is the model for you.

    include ../templates/contact-page.pug
    include ../templates/footer.pug
