extends ../default.pug
block pageContent
    include ../templates/header.pug
    section.who_can_i_be
        .container-fluid
            .main-wrapp
                h2.web-title send cv
                .edit-content
                    .cv-left
                        h5.cv-title Contact us for more info
                        .cv-card-wrapp
                            .cv-card
                                .cv-card-img
                                    img(src='img/cv-2.png', alt='Marta Moroz')
                                .cv-title-item
                                    div
                                        h4.item-title Marta Moroz
                                        p.item-text
                                            | I do not believe in coincidence. If our paths cross, our acquaintance was not accidental.
                                    p.item-text.email marta.moroz@inveritasoft.com
                                    .sc-eerKOB.gPGdJ
                                        a.svg(href='https://www.linkedin.com/in/marta-moroz/', target='_blank')
                                            svg(xmlns='http://www.w3.org/2000/svg', width='40', height='40')
                                                path.inIcon(fill='#acafb1', fill-rule='evenodd', d='M20.007.009C8.971.009.014 8.966.014 20.003c0 11.038 8.957 19.995 19.993 19.995C31.043 39.998 40 31.041 40 20.003 40 8.966 31.043.009 20.007.009zm-6.878 9.997c1.04 0 1.88.839 1.88 1.879a1.872 1.872 0 1 1-3.746 0c0-1.04.84-1.879 1.866-1.879zm1.893 17.476h-3.745V15.004h3.745v12.478zm14.995 0h-3.745V20.67c0-1.386-.414-2.786-2.053-2.786-1.64 0-2.946 1.4-2.946 2.826v6.772h-3.759V14.965h3.759v1.733c1.146-1.467 2.773-2.134 4.599-2.134 1.812 0 4.145.907 4.145 5.839v7.079z')
                                        a.svg(href='skype:live:821b7ea257d812c6?chat')
                                            svg#Layer_2(version='1.1', xmlns='http://www.w3.org/2000/svg', x='0px', y='0px', width='40px', height='40px')
                                                path.skypeIcon(fill='#acafb1', d='M20,0C9,0,0,9,0,20c0,11,9,20,20,20s20-9,20-20C40,9,31,0,20,0z')
                                                path(fill='#fff', d='M22.6,28.2c2-0.4,3.7-1.6,4.4-3.1c0.8-1.7,0.6-3.8-0.5-5.1c-1-1.1-2.4-1.7-5.8-2.5c-2.3-0.5-2.8-0.8-3.3-1.3 c-0.4-0.5-0.5-0.8-0.1-1.4c0.4-0.6,1.3-1,2.5-1c1.7-0.1,2.5,0.3,3.6,1.9c0.8,1.2,1.6,1.5,2.6,1c1.3-0.7,1.2-2.8-0.2-4.1 C24.5,11.5,23,11,20.5,11c-2.7,0-4.5,0.5-5.7,1.7c-1,1-1.1,1.5-1.1,3c0,1.6,0.2,2,1.2,3c1.1,1,2,1.4,5.2,2.2 c2.3,0.5,2.9,0.8,3.4,1.4c0.2,0.3,0.4,0.5,0.4,1.1s-0.1,0.7-0.5,1.2c-0.7,0.7-1.8,1-3.2,1c-1.6-0.1-2.4-0.6-3.2-2.3 c-0.6-1.1-1.1-1.6-1.9-1.6c-1.7,0-2.4,1.4-1.4,3.3c0.8,1.6,2.4,2.7,4.3,3.1C19,28.4,21.5,28.4,22.6,28.2L22.6,28.2L22.6,28.2z')
                            .cv-card
                                .cv-card-img
                                    img(src='img/cv-2.png', alt='Marta Moroz')
                                .cv-title-item
                                    div
                                        h4.item-title Marta Moroz
                                        p.item-text
                                            | I do not believe in coincidence. If our paths cross, our acquaintance was not accidental.
                                    p.item-text.email marta.moroz@inveritasoft.com
                                    .sc-eerKOB.gPGdJ
                                        a.svg(href='https://www.linkedin.com/in/marta-moroz/', target='_blank')
                                            svg(xmlns='http://www.w3.org/2000/svg', width='40', height='40')
                                                path.inIcon(fill='#acafb1', fill-rule='evenodd', d='M20.007.009C8.971.009.014 8.966.014 20.003c0 11.038 8.957 19.995 19.993 19.995C31.043 39.998 40 31.041 40 20.003 40 8.966 31.043.009 20.007.009zm-6.878 9.997c1.04 0 1.88.839 1.88 1.879a1.872 1.872 0 1 1-3.746 0c0-1.04.84-1.879 1.866-1.879zm1.893 17.476h-3.745V15.004h3.745v12.478zm14.995 0h-3.745V20.67c0-1.386-.414-2.786-2.053-2.786-1.64 0-2.946 1.4-2.946 2.826v6.772h-3.759V14.965h3.759v1.733c1.146-1.467 2.773-2.134 4.599-2.134 1.812 0 4.145.907 4.145 5.839v7.079z')
                                        a.svg(href='skype:live:821b7ea257d812c6?chat')
                                            svg#Layer_2(version='1.1', xmlns='http://www.w3.org/2000/svg', x='0px', y='0px', width='40px', height='40px')
                                                path.skypeIcon(fill='#acafb1', d='M20,0C9,0,0,9,0,20c0,11,9,20,20,20s20-9,20-20C40,9,31,0,20,0z')
                                                path(fill='#fff', d='M22.6,28.2c2-0.4,3.7-1.6,4.4-3.1c0.8-1.7,0.6-3.8-0.5-5.1c-1-1.1-2.4-1.7-5.8-2.5c-2.3-0.5-2.8-0.8-3.3-1.3 c-0.4-0.5-0.5-0.8-0.1-1.4c0.4-0.6,1.3-1,2.5-1c1.7-0.1,2.5,0.3,3.6,1.9c0.8,1.2,1.6,1.5,2.6,1c1.3-0.7,1.2-2.8-0.2-4.1 C24.5,11.5,23,11,20.5,11c-2.7,0-4.5,0.5-5.7,1.7c-1,1-1.1,1.5-1.1,3c0,1.6,0.2,2,1.2,3c1.1,1,2,1.4,5.2,2.2 c2.3,0.5,2.9,0.8,3.4,1.4c0.2,0.3,0.4,0.5,0.4,1.1s-0.1,0.7-0.5,1.2c-0.7,0.7-1.8,1-3.2,1c-1.6-0.1-2.4-0.6-3.2-2.3 c-0.6-1.1-1.1-1.6-1.9-1.6c-1.7,0-2.4,1.4-1.4,3.3c0.8,1.6,2.4,2.7,4.3,3.1C19,28.4,21.5,28.4,22.6,28.2L22.6,28.2L22.6,28.2z')
                    .cv-right
                        h5.cv-title Apply now
                        .cv-form-wrapp
                            form.cv-form-admin
                                .cv-input-all
                                    .cv-input-left
                                        label.cv-lable(for='firstName')
                                            | first name
                                            span.optional
                                        input#firstName.input(type='text', name='firstName', value='')
                                    .cv-input-right
                                        label.cv-lable.cVESTB(for='lastName')
                                            | last name
                                            span.optional
                                        input#lastName.input(type='text', name='lastName', value='')
                                    .cv-input
                                        label.cv-lable.cVESTB(for='email')
                                            | e-mail
                                            span.optional
                                        input#email.input(type='email', name='email', value='')
                                    .cv-input
                                        label.cv-lable.cVESTB(for='linkedin')
                                            | linkedin
                                            span.optional  (optional)
                                        input#linkedin.input(type='text', name='linkedin', value='')
                                    .cv-input
                                        label.cv-lable.cVESTB(for='skype')
                                            | skype
                                            span.optional  (optional)
                                        input#skype.input(type='text', name='skype', value='')
                                    .cv-input
                                        .fileLabel
                                            label.item-attach(tabindex='0', for='file')
                                                img.screp(src='img/download-img.png', alt='clip')
                                                span.attach Attach your CV
                                            span.lable-load
                                                //img(src='/static/media/file.4a9f2021.svg', alt='file')
                                        .optional-text Format: doc, docx, rtf, txt, odt, pdf (5Mb max size)
                                        input#file(type='file', name='inputFile', required='')
                                button.cv-btn(type='submit', disabled='') SEND

    include ../templates/contact-page.pug
    include ../templates/footer.pug

