extends ../default.pug
block pageContent
    include ../templates/header.pug
    section.main-page
        .container
            canvas.spider
            .main-wrapp-page
                .main-left-text
                    p.main-lg-text
                        | do not try to be
                        br
                        |                part of a team,
                        br
                        |                but be a team
    section.white-page
        .container
            h2.web-title the circle of trust
            .trust-block
                .block-item
                    p.trust-name GOfriend's
                    p.trust-subname
                        | We believe that the team is one
                        br
                        |                    organism. The success of the team
                        br
                        |                    is the success of everyone.
                .block-item
                    p.trust-name Client
                    p.trust-subname
                        | Do not try to make this world better
                        br
                        |                    on your own, let's do this together.
                .block-item
                    p.trust-name You
                    p.trust-subname
                        | If you feel that InVeritaSoft is your
                        br
                        |                    company, make it real.
    section.grey-page
        .container
            h2.web-title why we
            .dialog
                .dialog-left
                    .bubble
                        p.dialog-name-question Hi! Your motto is 'It's all about people'. Why ?
                .dialog-right
                    .bubble-right
                        .dialog-answer
                            p.dialog-name-title
                                | Zoryan Hudziy
                                br
                            p.dialog-prod
                                | CEO
                            p.dialog-name-text
                                | The professional growth is important for everyone. But when we are talking about personality, that's much deeper value for movement forward. We belive, that your personal development today is world's future tomorrow.
                        div.dialog-img-block
                            img.dialog-img(src='../img/cv-1.png', alt='')
            .dialog
                .dialog-left
                    .bubble
                        p.dialog-name-question Hi! Your motto is 'It's all about people'. Why ?
                .dialog-right
                    .bubble-right
                        .dialog-answer
                            p.dialog-name-title
                                | Zoryan Hudziy
                                br
                            p.dialog-prod
                                | CEO
                            p.dialog-name-text
                                | The professional growth is important for everyone. But when we are talking about personality, that's much deeper value for movement forward. We belive, that your personal development today is world's future tomorrow.
                        div.dialog-img-block
                            img.dialog-img(src='../img/cv-1.png', alt='')
            .dialog
                .dialog-left
                    .bubble
                        p.dialog-name-question Hi! Your motto is 'It's all about people'. Why ?
                .dialog-right
                    .bubble-right
                        .dialog-answer
                            p.dialog-name-title
                                | Zoryan Hudziy
                                br
                            p.dialog-prod
                                | CEO
                            p.dialog-name-text
                                | The professional growth is important for everyone. But when we are talking about personality, that's much deeper value for movement forward. We belive, that your personal development today is world's future tomorrow.
                        div.dialog-img-block
                            img.dialog-img(src='../img/cv-1.png', alt='')
    section.page-wrapp
        .container
            h2.web-title what's your next step?
            .row
                .col-md-6
                    a(href='')
                        .search-job
                            p.search-text Search-job
                            p.search-subtext
                                | Find the work of your dreams with a team that invests
                                | in your development, personally and professionally.
                .col-md-6
                    a(href='')
                        .search-cv
                            p.search-text Send CV
                            p.search-subtext
                                | We need talented specialists that are ready to work in
                                | an all-star team with a “pass the ball and make the
                                | assist” mentality.





    include ../templates/contact-page.pug
    include ../templates/footer.pug
