extends ../default.pug
block pageContent
    include ../templates/header.pug
    section.main-page
        .container
            canvas.spider
            .main-wrapp-page
                .main-left-text
                    p.industry-big-text
                        | Industries
                    p.industry-big-subtext
                        | In the modern age, IT and media are inseparable.
                        br
                        | Journalists are now able to have live video feeds
                        br
                        | and on-location with a simple smartphone app.
    section.page-wrapp-grey
        .container-fluid
            h2.web-title our scope of activity
            .scope-page
                .scope-page
                    .scope-block
                        img.scope-img(src='img/business.jpg', alt='')
                        .scope-active
                            .scope-title Business
                            .scope-text There is no sphere of life where innovation is more important than education.
                            a(href='')
                                button.industry-btn
                                    | Show more
                                    span.fas.fa-long-arrow-alt-right
                    .scope-block
                        img.scope-img(src='img/sport.jpg', alt='')
                        .scope-active
                            .scope-title Sport
                            .scope-text Today comprehensive retail solutions are inevitable for memorable online shopping experience.
                            a(href='')
                                button.industry-btn
                                    | Show more
                                    span.fas.fa-long-arrow-alt-right
                    .scope-block
                        img.scope-img(src='img/delivery.jpg', alt='')
                        .scope-active
                            .scope-title Delivering
                            .scope-text In the modern global economy, an efficient logistics solution is more important than ever before.
                            a(href='')
                                button.industry-btn
                                    | Show more
                                    span.fas.fa-long-arrow-alt-right
                    .scope-block
                        img.scope-img(src='img/beauty.jpg', alt='')
                        .scope-active
                            .scope-title Beauty
                            .scope-text In the modern age, IT and media are inseparable. Our world is more connected than ever.
                            a(href='media.html')
                                button.industry-btn
                                    | Show more
                                    span.fas.fa-long-arrow-alt-right
                    .scope-block
                        img.scope-img(src='img/crypto.jpg', alt='')
                        .scope-active
                            .scope-title Crypto
                            .scope-text We want to make your business more efficient and flexable, helping you to track your data and make use of it.
                            a(href='')
                                button.industry-btn
                                    | Show more
                                    span.fas.fa-long-arrow-alt-right
                    .scope-block
                        img.scope-img(src='img/online-car.jpg', alt='')
                        .scope-active
                            .scope-title Online car rent service
                            .scope-text We understand challenges of Telecommunication industry, creating custom solutions for your needs.
                            a(href='')
                                button.industry-btn
                                    | Show more
                                    span.fas.fa-long-arrow-alt-right
                    .scope-block
                        img.scope-img(src='img/travel.jpg', alt='')
                        .scope-active
                            .scope-title Travel
                            .scope-text Travel industry trends are always changing as technology drives new opportunities.
                            a(href='')
                                button.industry-btn
                                    | Show more
                                    span.fas.fa-long-arrow-alt-right
                    .scope-block
                        img.scope-img(src='img/filming.jpg', alt='')
                        .scope-active
                            .scope-title Filming
                            .scope-text New wearables are taking breakthrough technologies and make them extensions of our bodies everyday.
                            a(href='')
                                button.industry-btn
                                    | Show more
                                    span.fas.fa-long-arrow-alt-right
                    .scope-block
                        img.scope-img(src='img/menegment.jpg', alt='')
                        .scope-active
                            .scope-title Menegment
                            .scope-text New wearables are taking breakthrough technologies and make them extensions of our bodies everyday.
                            a(href='')
                                button.industry-btn
                                    | Show more
                                    span.fas.fa-long-arrow-alt-right
                    .scope-block
                        img.scope-img(src='img/wi-fi.jpg', alt='')
                        .scope-active
                            .scope-title Wi-Fi Service
                            .scope-text New wearables are taking breakthrough technologies and make them extensions of our bodies everyday.
                            a(href='')
                                button.industry-btn
                                    | Show more
                                    span.fas.fa-long-arrow-alt-right

                    .scope-block
                        img.scope-img(src='img/jewellery.jpg', alt='')
                        .scope-active
                            .scope-title Jewellery
                            .scope-text New wearables are taking breakthrough technologies and make them extensions of our bodies everyday.
                            a(href='')
                                button.industry-btn
                                    | Show more
                                    span.fas.fa-long-arrow-alt-right
                    .scope-block
                        img.scope-img(src='img/game.jpg', alt='')
                        .scope-active
                            .scope-title Game
                            .scope-text New wearables are taking breakthrough technologies and make them extensions of our bodies everyday.
                            a(href='')
                                button.industry-btn
                                    | Show more
                                    span.fas.fa-long-arrow-alt-right
                    .scope-block
                        img.scope-img(src='img/web-site.jpg', alt='')
                        .scope-active
                            .scope-title Web-site
                            .scope-text New wearables are taking breakthrough technologies and make them extensions of our bodies everyday.
                            a(href='')
                                button.industry-btn
                                    | Show more
                                    span.fas.fa-long-arrow-alt-right
    include ../templates/contact-page.pug
    include ../templates/footer.pug
