extends ../default.pug
block pageContent
    include ../templates/header.pug
    section.main-page
        .container
            canvas.spider
            .main-wrapp-page
                .main-left-text
                    p.main-lg-text
                        |  apps should be both
                        br
                        | natural to use and
                        br
                        | beautiful to look at


    section.grey-page
        .container
            h2.web-title process
            .ux-item
                .ux-img
                    img(src='img/ux-1.png', alt='')
                .ux-text
                    p.ux-title Research
                    p.ux-subtitle
                        | Before any design ideas are put on paper, the needs and wants of a
                        | product’s potential users and the solution your company will provide must be
                        | fully understood. We at inVerita Soft are committed to quality research and
                        | analysis before beginning UX/UI design on any project.
            .ux-item
                .ux-text
                    p.ux-title Analysis
                    p.ux-subtitle
                        | Of course, once research is completed, a detailed analysis must be conduction to
                        | understand the information gathered. We go through a thorough process of analysing
                        | your product, audience, competition, and monetization. All of this is to ensure that your
                        | users’ needs are met, resulting in a successful product.
                .ux-img
                    img(src='../img/ux-2.png', alt='')
            .ux-item
                .ux-img
                    img(src='../img/ux-3.png', alt='')
                .ux-text
                    p.ux-title Wireframes & Mockup Prototypes
                    p.ux-subtitle
                        | In this phase of the design process, we move from simple wireframes, showing
                        | the general layout of your software solution, to full-blown, clickable prototypes,
                        | narrowing down specific advantages of different aspects of each design.
            .ux-item
                .ux-text
                    p.ux-title Design
                    p.ux-subtitle
                        | Once we have reached this stage as a team, it is time to finally join form and function
                        | together. We now can create a product that your users can understand using their natural
                        | intuition of
                        span  how things should just work
                        |, rather than reading a complicated instruction
                .ux-img
                    img(src='../img/ux-4.png', alt='')
    section.page-wrapp
        .container-fluid
            h2.web-title our works
            .main-content
                .work
                    .work-card.arenda-card
                        p.work-title arenda auto
                        p.work-text
                            | The platform allows customers to order and order cars with
                            | a driver, without drivers, as well as buses and cars for weddings.
                            | The project was created and developed within a short period of
                            | time from August 2017. The site has a control panel, convenient
                            | navigation and the ability to select the desired vehicles.
                        .work-line
                        .work-footer
                            div
                                p.work-descript
                                    span Platform:
                                    |  WEB
                                p.work-descript
                                    span Industry:
                                    |  Media
                            div
                                a.work-btn(href='') Explore more
                    .work-img-one
                        img(src='../img/test.png', alt='')

                .work
                    .work-img-one
                        img(src='../img/test.png', alt='')
                    .work-card.arenda-card
                        p.work-title arenda auto
                        p.work-text
                            | The platform allows customers to order and order cars with
                            | a driver, without drivers, as well as buses and cars for weddings.
                            | The project was created and developed within a short period of
                            | time from August 2017. The site has a control panel, convenient
                            | navigation and the ability to select the desired vehicles.
                        .work-line
                        .work-footer
                            div
                                p.work-descript
                                    span Platform:
                                    |  WEB
                                p.work-descript
                                    span Industry:
                                    |  Media
                            div
                                a.work-btn(href='') Explore more

                .work
                    .work-card.arenda-card
                        p.work-title arenda auto
                        p.work-text
                            | The platform allows customers to order and order cars with
                            | a driver, without drivers, as well as buses and cars for weddings.
                            | The project was created and developed within a short period of
                            | time from August 2017. The site has a control panel, convenient
                            | navigation and the ability to select the desired vehicles.
                        .work-line
                        .work-footer
                            div
                                p.work-descript
                                    span Platform:
                                    |  WEB
                                p.work-descript
                                    span Industry:
                                    |  Media
                            div
                                a.work-btn(href='') Explore more
                    .work-img-one
                        img(src='../img/test.png', alt='')


    include ../templates/contact-page.pug
    include ../templates/footer.pug
