extends ../default.pug
block pageContent
    include ../templates/header.pug
    section.main-page
        .container
            canvas.spider
            .main-wrapp-page
                .main-left-text.wow.slideInLeft
                    p.main-lg-text
                        | web
                        br
                        |  development
                    p.web-subtitle
                        | Our well-defined development processes
                        br
                        | guarantee you -
                        span.green-subtext  speed
                        |  and
                        span.green-subtext  quality
                .main-right-text
                    .main-title-item
                        p.main-lg-number.count.pluse 150
                        p.main-md-number
                            | projects
                            br
                            | delivered

    section.page-wrapp
        .container-fluid
            h2.web-title web development
            .main-content
                .web-page
                    .web-left-page
                        p.web-text
                            | Our commitment to quality is backed up by top-notch personnel, reputable experience, and technical expertise. Our developers are versed in the latest industry trends and deliver successful implementation of end-to-end web solutions in a spirit of excellence.
                            span  We love to innovate
                            | , working in the background, while you get to focus on your core business processes.
                            br
                            br
                            |        Every business differs greatly in its particular IT requirements, and there are even cases when available enterprise solutions cannot fulfill the needs of a company. When this happens, inVeritaSoft works closely with its clients to properly understand those needs and perform Custom Application Development in a cost-effective and timesaving way. This allows you to get back on track and
                            span  charge ahead toward your goals
                            | , without the limits of technology slowing you down.
                    .web-right-page
                        .web-priority
                            ul
                                li
                                    p.web-priority-text Software Development
                                    p.web-priority-subtext
                                        | We develop client/server, web-based, SaaS (Software as a Service), and SOA (Software Oriented Architecture) applications, as well as enhance and improve legacy systems.
                        .web-priority
                            ul
                                li
                                    p.web-priority-text Migration, Customization and Re-engineering
                                    p.web-priority-subtext
                                        | inVeritaSoft’s high level of experience translates into application stability, system improvements, and continuous service for you. This includes maintenance for applications and systems, integration of new IT requirements, and technical / functional support.
                        .web-priority
                            ul
                                li
                                    p.web-priority-text Application Maintenance
                                    p.web-priority-subtext
                                        | Our workflow is simple: research - analysis - solution. First, we explore all viable options, from open source to proprietary solutions like Microsoft.Net and SharePoint.
                        .web-priority
                            ul
                                li
                                    p.web-priority-text Consultancy
                                    p.web-priority-subtext
                                        | From the migration of legacy systems to newer tech, to application re-engineering, to version enhancement services, to database migration and integration with existing / external systems,
                                        span  we get your older applications running in your new workflow.
                        .web-priority
                            ul
                                li
                                    p.web-priority-text Participation
                                    p.web-priority-subtext
                                        | We just fit. inVeritaSoft’s developers are flexible in that we can work or as a stand-alone team or with your existing IT department, extending your reach as a company.
    section.page-wrapp-grey
        .web-container
            h2.web-title technologies we use
            .web-tech-item
                .web-tech
                    .web-content
                        p.web-tech-text client side
                        img(src='/img/client.png', alt='')
                    .web-list
                        ul
                            li React
                            li Vue.js
                            li AngularJs
                            li Angular2+
                            li jQuery
                .web-tech-line
                .web-tech
                    .web-content
                        p.web-tech-text server side
                        img(src='/img/server.png', alt='')
                    .web-list
                        ul
                            li .Net
                            li Java
                            li NodeJS
                            li PHP

    section.page-wrapp
        .container-fluid
            h2.web-title our works
            .main-content
                .work
                    .work-card.arenda-card
                        p.work-title arenda auto
                        p.work-text
                            | The platform allows customers to order and order cars with
                            | a driver, without drivers, as well as buses and cars for weddings.
                            | The project was created and developed within a short period of
                            | time from August 2017. The site has a control panel, convenient
                            | navigation and the ability to select the desired vehicles.
                        .work-line
                        .work-footer
                            div
                                p.work-descript
                                    span Platform:
                                    |  WEB
                                p.work-descript
                                    span Industry:
                                    |  Media
                            div
                                a.work-btn(href='') Explore more
                    .work-img-one
                        img(src='../img/test.png', alt='')

                .work
                    .work-img-one
                        img(src='../img/test.png', alt='')
                    .work-card.arenda-card
                        p.work-title arenda auto
                        p.work-text
                            | The platform allows customers to order and order cars with
                            | a driver, without drivers, as well as buses and cars for weddings.
                            | The project was created and developed within a short period of
                            | time from August 2017. The site has a control panel, convenient
                            | navigation and the ability to select the desired vehicles.
                        .work-line
                        .work-footer
                            div
                                p.work-descript
                                    span Platform:
                                    |  WEB
                                p.work-descript
                                    span Industry:
                                    |  Media
                            div
                                a.work-btn(href='') Explore more

                .work
                    .work-card.arenda-card
                        p.work-title arenda auto
                        p.work-text
                            | The platform allows customers to order and order cars with
                            | a driver, without drivers, as well as buses and cars for weddings.
                            | The project was created and developed within a short period of
                            | time from August 2017. The site has a control panel, convenient
                            | navigation and the ability to select the desired vehicles.
                        .work-line
                        .work-footer
                            div
                                p.work-descript
                                    span Platform:
                                    |  WEB
                                p.work-descript
                                    span Industry:
                                    |  Media
                            div
                                a.work-btn(href='') Explore more
                    .work-img-one
                        img(src='../img/test.png', alt='')

    section.page-wrapp-grey
        .container
            h2.web-title process
            .row
                .col-sm-4
                    .dev-img
                        span.line-lg.line-lg-vert-left
                        img(src='img/meet.png', alt='')
                        p.dev-title
                            | Meeting
                .col-sm-4
                    .dev-img
                        span.line-lg
                        img(src='img/specific.png', alt='')
                        p.dev-title
                            | Specifications
                .col-sm-4
                    .dev-img
                        span.line-sm-right
                        img(src='img/esti.png', alt='')
                        p.dev-title
                            | Estimate
                .col-sm-4
                    .dev-img
                        span.line-lg.line-sm-left
                        img(src='img/dev.png', alt='')
                        p.dev-title
                            | Development
                .col-sm-4
                    .dev-img
                        span.line-lg
                        img(src='img/ui.png', alt='')
                        p.dev-title
                            | UI/UX
                .col-sm-4
                    .dev-img
                        span.line-sm-right.line-lg-vert
                        img(src='img/pro.png', alt='')
                        p.dev-title
                            | Project plan
                .col-sm-4
                    .dev-img
                        span.line-lg.line-sm-left
                        img(src='img/qa.png', alt='')
                        p.dev-title
                            | QA
                .col-sm-4
                    .dev-img
                        span.line-lg
                        img(src='img/deli.png', alt='')
                        p.dev-title
                            | Delivering
                .col-sm-4
                    .dev-img
                        img(src='img/supp.png', alt='')
                        p.dev-title
                            | Support
    include ../templates/contact-page.pug
    include ../templates/footer.pug
