.ux{
  &-item{
    display: flex;
    margin-bottom: 80px;
  }
  &-text{
    font-size: 22px;
  }
  &-img{
    margin:0 80px 80px;
    width: 100%;
    text-align: center;
  }
  &-title{
    margin: 0 0 13px;
    font-size: 40px;
    font-weight: 400;
    color: $main-color;
  }
  &-subtitle{
    font-size: 22px;
    font-weight: 100;
    line-height: 1.5;
    & span{
      color: $main-color;
      font-weight: 600;
    }
  }
}



