-
    var android_page = [
    {
    j_title: 'Portability',
    j_subtitle:'Android applications are primarily developed using Java, which is easily ported to other operating ' +
    'systems, like Ubuntu, Blackberry, Symbian, and Chrome OS. Java was designed as a programming language with ' +
    'portability in mind.'
    },
    {
    j_title: 'Reach More People',
    j_subtitle:'his may be the number-one advantage of Android as a platform. Android is the most-used operating system ' +
    'in the world for smart devices, allowing you to reach more potential clients.'
    },
    {
    j_title: 'Cheaper Hardware',
    j_subtitle:'If a large enterprise requires a mobile app to run on hundreds of tablets, for example, this is much ' +
    'easier with Android, as comparable hardware can be obtained for a much lower price than iOS devices.'
    }
    ]