section.contact-us
    p.question-title Contacts us
    p.question-subtitle Please, fill out the form and we will contact you as soon as possible
    .container
        form(action='')
            .row
                .col-md-4
                    input.cont-us-input(type='text', placeholder='Your Name')
                .col-md-4
                    input.cont-us-input(type='text', placeholder='Phone Number')
                .col-md-4
                    input.cont-us-input(type='text', placeholder='Your E-mail')
                .col-md-12
                    div
                        button.btn-question Send
