footer.footer
    .container
        .footer-wrapp
            .row
                .col-md-3
                    a(href='#')
                        img.f-img(src='img/logo-footer.png', alt='')
                //.col-md-2
                //    ul.list-unstyled.m-0
                //        p.f-title Pages
                //        hr.f-line
                //        li
                //            a.f-link-social(href='') Home
                //        li
                //            a.f-link-social(href='') Case Studies
                //        li
                //            a.f-link-social(href='') About Us
                //        li
                //            a.f-link-social(href='') Our Team
                .col-md-6
                    ul.f-block.list-unstyled.m-0
                        p.f-title Contacts info
                        hr.f-line
                        li.f-text 28a Panasa Mirnogo st. Kyiv, Ukraine
                        li
                            | Tel.
                            a.f-link-social(href='') +38 063 01 01 797
                        li
                            a.f-link-social(href='') eugeniymeo@gmail.com
                .col-md-3
                    p.f-title Social media
                    hr.f-line
                    .f-main-link
                        .bg-icon
                            a(href='')
                                i.fab.fa-facebook-f.fa-lg
                        .bg-icon
                            a(href='')
                                i.fab.fa-instagram.fa-lg
                        .bg-icon
                            a(href='')
                                i.fab.fa-linkedin-in.fa-lg
    .container-fluid.p-0
        .f-dark-block.w-100
            .f-dark-title
                p All rights reserved GoFriends © 2013-2018
                a(href='') Privacy Policy
