-
    var hot_card = [
    {
    hot_card_name:'React JS Developer',
    hot_card_subname: 'Middle',
    hot_card_text: 'You have an opportunity to work with a Client, who designs and develops software for venture-backed ' +
    'startups, growing businesses, and established brands. Cooperates with such companies as Samsung, P&G, Universal ' +
    'Music Group and not only..1',
    },
    {
    hot_card_name:'React JS Developer',
    hot_card_subname: 'Middle',
    hot_card_text: 'You have an opportunity to work with a Client, who designs and develops software for venture-backed ' +
    'startups, growing businesses, and established brands. Cooperates with such companies as Samsung, P&G, Universal ' +
    'Music Group and not only..2',
    },
    {
    hot_card_name:'React JS Developer',
    hot_card_subname: 'Middle',
    hot_card_text: 'You have an opportunity to work with a Client, who designs and develops software for venture-backed ' +
    'startups, growing businesses, and established brands. Cooperates with such companies as Samsung, P&G, Universal ' +
    'Music Group and not only..3',
    },
    ]

    var hot_card_right = [
    {
    hot_card_name_right:'React JS Developer',
    hot_card_subname_right: 'Middle',
    hot_card_text_right: 'You have an opportunity to work with a Client, who designs and develops software for venture-backed ' +
    'startups, growing businesses, and established brands. Cooperates with such companies as Samsung, P&G, Universal ' +
    'Music Group and not only..4',
    },
    {
    hot_card_name_right:'React JS Developer',
    hot_card_subname_right: 'Middle',
    hot_card_text_right: 'You have an opportunity to work with a Client, who designs and develops software for venture-backed ' +
    'startups, growing businesses, and established brands. Cooperates with such companies as Samsung, P&G, Universal ' +
    'Music Group and not only..5',
    },
    ]
