-
    var ios_page = [
    {
    j_title: 'A Better Quality Experience',
    j_subtitle:'Apple requires adherence to a very high set of standards for an application to be included in the App ' +
    'Store. This forces developers to create high-quality apps for iOS devices and ensures a more unified user ' +
    'experience along with greater stability. These superior specifications for quality are one of the most important ' +
    'reasons why businesses choose iOS over Android.'
    },
    {
    j_title: 'Enhance the Way You Do Business',
    j_subtitle:'Having an iOS application allows workers much quicker access to important information than was ever ' +
    'possible on a traditional computer. With this new technology, employees are able to perform tasks, make key ' +
    'decisions on the field, and serve customers much faster, having everything they need literally at their fingertips.'
    },
    {
    j_title: 'Connect with Your Clients',
    j_subtitle:'Clients now expect major businesses to have mobile applications. Having an iOS application today is what' +
    ' having a website was 10 years ago, and, if you don’t have one, your business could be considered by clients as ' +
    'second-class. However, investing in a quality mobile application allows your clients to connect with you wherever ' +
    'they are, regardless of whether they are near a computer.'
    }
    ]
