-
    var javascript_page = [
    {
    j_title: 'Enhanced interactivity and functionality',
    j_subtitle:'JavaScript enhances the experience of your users by giving web apps more functionality. It makes apps ' +
    'and web pages more dynamic and has a plethora of frameworks for both front-end and back-end development, ' +
    'decreasing development times and speeding up time to market.'
    },
    {
    j_title: 'It’s just fast',
    j_subtitle:'JavaScript is very quick, and, when used with Node.js, a JavaScript runtime environment, allows both ' +
    'client-side and server-side programming. This enables you to create easily-maintainable applications in one ' +
    'language. JavaScript is second-to-none in functionality, having a wide range of libraries, plugins, and frameworks.'
    },
    {
    j_title: 'Excellent browser support and Interoperability',
    j_subtitle:'Whether you are using Ruby, Python, PHP, Node.js, or Java on your server, JavaScript is compatible ' +
    'with all of them! Moreover, JavaScript is supported by all modern web browsers, saving precious time in development.'
    },
    {
    j_title: 'Very popular among developers',
    j_subtitle:'JavaScript is loved by millions of programmers, and there is a huge community of developers who devote ' +
    'their time to bettering this technology.'
    },
    ]