-
    var java_page = [
    {
    j_title: 'Platform Independent',
    j_subtitle:'This is the premier advantage of programming in Java; the language was <span>designed to work on any ' +
    'platform.</span>' +
    'It is the best solution for anyone looking to create cross-platform applications.'
    },
    {
    j_title: 'Multithreaded',
    j_subtitle:'Programs created in Java can perform many different tasks at the same time. This allows developers to ' +
    'write interactive applications that take advantage of modern, multi-core CPU’s.'
    },
    {
    j_title: 'Power',
    j_subtitle:'Java is a modern programming language, which enables fast development of complex and adaptable applications. ' +
    'Object-oriented units (known as “classes”) allow the application to <span>extend itself dynamically</span>, expanding its functionality.'
    },
    {
    j_title: 'Quicker time-to-market',
    j_subtitle:'Java already has a full set of well-designed API’s. This allows developers to complete projects faster ' +
    'with less mistakes and bugs.'
    },
    ]
