-
    var python_page = [
    {
    j_title: 'Blazingly Fast1',
    j_subtitle:'We live in a “fast-food society”. Everyone wants everything five minutes ago or yesterday, no excuses.' +
    ' This is quite a task if millions of users are logging onto the same application at the same time. However, ' +
    'this is where Node.js excels. Node.js is fast, even when bogged down with many different users at a time.'
    },
    {
    j_title: 'Node.js is JavaScript2',
    j_subtitle:'Node.js is based on JavaScript, one of the most powerful and popular up-and-coming languages today. ' +
    'This allows developers to use JavaScript on both the client- and server-sides. This means that entire web ' +
    'applications can be written in one language, making code more efficient and delivery times shorter.'
    },
    {
    j_title: 'Scalability',
    j_subtitle:'Node.js allows just one server to handle exponentially more clients than a server running other ' +
    '“traditional” server technologies and languages. This makes Node.js very attractive with its high level ' +
    'of scalability.'
    },
    {
    j_title: 'More bang for your buck',
    j_subtitle:'Node.js just makes sense! If your development times are shorter and less hardware is needed to run the ' +
    'software, this keeps costs down and improves your profit margin!'
    },
    {
    j_title: 'Popularity',
    j_subtitle:'Node.js is becoming increasingly more and more popular, which translates into broader support and more' +
    ' libraries and resources.'
    }
    ]