-
    var team_value = [
    {
    team_img:'img/cv-1.png',
    team_name: 'Evgeniy Moiseev',
    team_description:'Co Founder',
    team_text:'Coming together is a beginning, staying together is progress and working together is success'
    },
    {
    team_img:'img/cv-1.png',
    team_name: 'Evgeniy Moiseev',
    team_description:'Co Founder',
    team_text:'Coming together is a beginning, staying together is progress and working together is success'
    },
    {
    team_img:'img/cv-1.png',
    team_name: 'Evgeniy Moiseev',
    team_description:'Co Founder',
    team_text:'Coming together is a beginning, staying together is progress and working together is success'
    },
    {
    team_img:'img/cv-1.png',
    team_name: 'Evgeniy Moiseev',
    team_description:'Co Founder',
    team_text:'Coming together is a beginning, staying together is progress and working together is success'
    },
    {
    team_img:'img/cv-1.png',
    team_name: 'Evgeniy Moiseev',
    team_description:'Co Founder',
    team_text:'Coming together is a beginning, staying together is progress and working together is success'
    },
    {
    team_img:'img/cv-1.png',
    team_name: 'Evgeniy Moiseev',
    team_description:'Co Founder',
    team_text:'Coming together is a beginning, staying together is progress and working together is success'
    },
    {
    team_img:'img/cv-1.png',
    team_name: 'Evgeniy Moiseev',
    team_description:'Co Founder',
    team_text:'Coming together is a beginning, staying together is progress and working together is success'
    },
    {
    team_img:'img/cv-1.png',
    team_name: 'Evgeniy Moiseev',
    team_description:'Co Founder',
    team_text:'Coming together is a beginning, staying together is progress and working together is success'
    },
    {
    team_img:'img/cv-1.png',
    team_name: 'Evgeniy Moiseev',
    team_description:'Co Founder',
    team_text:'Coming together is a beginning, staying together is progress and working together is success'
    },
    {
    team_img:'img/cv-1.png',
    team_name: 'Evgeniy Moiseev',
    team_description:'Co Founder',
    team_text:'Coming together is a beginning, staying together is progress and working together is success'
    },
    {
    team_img:'img/cv-1.png',
    team_name: 'Evgeniy Moiseev',
    team_description:'Co Founder',
    team_text:'Coming together is a beginning, staying together is progress and working together is success'
    },
    {
    team_img:'img/cv-1.png',
    team_name: 'Evgeniy Moiseev',
    team_description:'Co Founder',
    team_text:'Coming together is a beginning, staying together is progress and working together is success'
    },
    {
    team_img:'img/cv-1.png',
    team_name: 'Evgeniy Moiseev',
    team_description:'Co Founder',
    team_text:'Coming together is a beginning, staying together is progress and working together is success'
    },
    {
    team_img:'img/cv-1.png',
    team_name: 'Evgeniy Moiseev',
    team_description:'Co Founder',
    team_text:'Coming together is a beginning, staying together is progress and working together is success'
    },
    {
    team_img:'img/cv-1.png',
    team_name: 'Evgeniy Moiseev',
    team_description:'Co Founder',
    team_text:'Coming together is a beginning, staying together is progress and working together is success'
    },
    {
    team_img:'img/cv-1.png',
    team_name: 'Evgeniy Moiseev',
    team_description:'Co Founder',
    team_text:'Coming together is a beginning, staying together is progress and working together is success'
    },
    {
    team_img:'img/cv-1.png',
    team_name: 'Evgeniy Moiseev',
    team_description:'Co Founder',
    team_text:'Coming together is a beginning, staying together is progress and working together is success'
    },
    {
    team_img:'img/cv-1.png',
    team_name: 'Evgeniy Moiseev',
    team_description:'Co Founder',
    team_text:'Coming together is a beginning, staying together is progress and working together is success'
    },
    {
    team_img:'img/cv-1.png',
    team_name: 'Evgeniy Moiseev',
    team_description:'Co Founder',
    team_text:'Coming together is a beginning, staying together is progress and working together is success'
    },
    {
    team_img:'img/cv-1.png',
    team_name: 'Evgeniy Moiseev',
    team_description:'Co Founder',
    team_text:'Coming together is a beginning, staying together is progress and working together is success'
    }
    ]